<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>carousel component type 2</title>
    <link rel="stylesheet" href="carousel-component-type-2.css" />
  </head>
  <body>
    <div class="carousel">
      <div class="carousel-content-container">
        <div class="carousel-title-container">
          <span
            ><strong
              >Up to 50% off | Home inverter batteries by stores near
              you</strong
            ></span
          >
          <a href="#" class="see-all-deals">See all deals</a>
        </div>
        <div class="carousel-cards-container">
          <div class="carousel-left-btn">
            <div class="btn">
              <a href="#"> <ion-icon name="chevron-back-outline"></ion-icon></a>
            </div>
          </div>
          <div class="carousel-right-btn">
            <div class="btn">
              <a href="#">
                <ion-icon name="chevron-forward-outline"></ion-icon
              ></a>
            </div>
          </div>
          <div class="carousel-scrollbar-container">
            <div class="carousel-card-container">
              <div class="carousel-img-container">
                <img
                  src="../carousel-components-imgs/carousel-component-type-2-imgs/img1.jpg"
                  alt="purse"
                />
              </div>
            </div>
            <div class="carousel-card-container">
              <div class="carousel-img-container">
                <img
                  src="../carousel-components-imgs/carousel-component-type-2-imgs/img2.jpg"
                  alt="purse"
                />
              </div>
            </div>
            <div class="carousel-card-container">
              <div class="carousel-img-container">
                <img
                  src="../carousel-components-imgs/carousel-component-type-2-imgs/img3.jpg"
                  alt="purse"
                />
              </div>
            </div>
            <div class="carousel-card-container">
              <div class="carousel-img-container">
                <img
                  src="../carousel-components-imgs/carousel-component-type-2-imgs/img4.jpg"
                  alt="purse"
                />
              </div>
            </div>
            <div class="carousel-card-container">
              <div class="carousel-img-container">
                <img
                  src="../carousel-components-imgs/carousel-component-type-2-imgs/img5.jpg"
                  alt="purse"
                />
              </div>
            </div>
            <div class="carousel-card-container">
              <div class="carousel-img-container">
                <img
                  src="../carousel-components-imgs/carousel-component-type-2-imgs/img6.jpg"
                  alt="purse"
                />
              </div>
            </div>
            <div class="carousel-card-container">
              <div class="carousel-img-container">
                <img
                  src="../carousel-components-imgs/carousel-component-type-2-imgs/img7.jpg"
                  alt="purse"
                />
              </div>
            </div>
            <div class="carousel-card-container">
              <div class="carousel-img-container">
                <img
                  src="../carousel-components-imgs/carousel-component-type-2-imgs/img8.jpg"
                  alt="purse"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
