<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Component</title>
    <link rel="stylesheet" href="footer-component.css" />
  </head>
  <body>
    <div class="back-to-top">
      <a href="#">Back to top</a>
    </div>
    <div class="upper-footer">
      <div class="links">
        <div class="links-heading"><strong>Get to Know Us</strong></div>
        <ul class="link">
          <li>About Us</li>
          <li>Careers</li>
          <li>Press Releases</li>
          <li>Amazon Science</li>
        </ul>
      </div>
      <div class="links">
        <div class="links-heading"><strong>Connect with Us</strong></div>
        <ul class="link">
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="links">
        <div class="links-heading"><strong>Make Money with Us</strong></div>
        <ul class="link">
          <li>Sell on Amazon</li>
          <li>Sell under Amazon Accelerator</li>
          <li>Protect and Build Your Brand</li>
          <li>Amazon Global Selling</li>
          <li>Become an Affiliate</li>
          <li>Fulfilment by Amazon</li>
          <li>Advertise Your Products</li>
          <li>Amazon Pay on Merchants</li>
        </ul>
      </div>
      <div class="links">
        <div class="links-heading"><strong> Let Us Help You</strong></div>
        <ul class="link">
          <li>COVID-19 and Amazon</li>
          <li>Your Account</li>
          <li>Returns Centre</li>
          <li>100% Purchase Protection</li>
          <li>Amazon App Download</li>
          <li>Help</li>
        </ul>
      </div>
    </div>
    <div class="mid-footer">
      <div class="upper-links">
        <img
          src="footer-component-imgs/amazon-logo-white.png"
          alt="amazon logo"
        />
        <div class="language-selector">
          <ion-icon class="internet-globe" name="globe-outline"></ion-icon>
          <span class="language-text">English</span>
          <ion-icon
            class="up-down-arrow"
            name="chevron-expand-outline"
          ></ion-icon>
        </div>
      </div>
      <div class="lower-links">
        <ul>
          <li>Australia</li>
          <li>Brazil</li>
          <li>Canada</li>
          <li>China</li>
          <li>France</li>
          <li>Germany</li>
          <li>Italy</li>
          <li>Japan</li>
          <li>Mexico</li>
          <li>Netherlands</li>
          <li>Poland</li>
          <li>Singapore</li>
          <li>Spain</li>
          <li>Turkey</li>
          <li>United Arab Emirates</li>
          <li>United Kingdom</li>
          <li>United States</li>
        </ul>
      </div>
    </div>
    <div class="lower-footer">
      <table>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
