<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>carousel component type 1</title>
    <link rel="stylesheet" href="carousel-component-type-1.css" />
  </head>
  <body>
    <div class="container">
      <div class="carousel">
        <div class="carousel-content-container">
          <div class="carousel-title-container">
            <span><strong>Today's Deals</strong></span>
            <a href="#" class="see-all-deals">See all deals</a>
          </div>
          <div class="carousel-cards-container">
            <div class="carousel-left-btn">
              <div class="btn">
                <a href="#">
                  <ion-icon name="chevron-back-outline"></ion-icon
                ></a>
              </div>
            </div>
            <div class="carousel-right-btn">
              <div class="btn">
                <a href="#">
                  <ion-icon name="chevron-forward-outline"></ion-icon
                ></a>
              </div>
            </div>
            <div class="carousel-scrollbar-container">
              <div class="carousel-card-container">
                <div class="carousel-img-container">
                  <img
                    src="../carousel-components-imgs/carousel-component-type-1-imgs/img1.jpg"
                    alt="purse"
                  />
                </div>
                <div class="carousel-description-container">
                  <span class="deals-show">Up to 78% off</span>
                  <span class="deal-of-the-day"
                    ><strong>Deal of the day</strong> <br
                  /></span>
                  <span class="carousel-category">Best Offers on Storite</span>
                </div>
              </div>
              <div class="carousel-card-container">
                <div class="carousel-img-container">
                  <img
                    src="../carousel-components-imgs/carousel-component-type-1-imgs/img2.jpg"
                    alt="purse"
                  />
                </div>
                <div class="carousel-description-container">
                  <span class="deals-show">Up to 78% off</span>
                  <span class="deal-of-the-day"
                    ><strong>Deal of the day</strong> <br
                  /></span>
                  <span class="carousel-category">Best Offers on Storite</span>
                </div>
              </div>
              <div class="carousel-card-container">
                <div class="carousel-img-container">
                  <img
                    src="../carousel-components-imgs/carousel-component-type-1-imgs/img3.jpg"
                    alt="purse"
                  />
                </div>
                <div class="carousel-description-container">
                  <span class="deals-show">Up to 78% off</span>
                  <span class="deal-of-the-day"
                    ><strong>Deal of the day</strong> <br
                  /></span>
                  <span class="carousel-category">Best Offers on Storite</span>
                </div>
              </div>
              <div class="carousel-card-container">
                <div class="carousel-img-container">
                  <img
                    src="../carousel-components-imgs/carousel-component-type-1-imgs/img4.jpg"
                    alt="purse"
                  />
                </div>
                <div class="carousel-description-container">
                  <span class="deals-show">Up to 78% off</span>
                  <span class="deal-of-the-day"
                    ><strong>Deal of the day</strong> <br
                  /></span>
                  <span class="carousel-category">Best Offers on Storite</span>
                </div>
              </div>
              <div class="carousel-card-container">
                <div class="carousel-img-container">
                  <img
                    src="../carousel-components-imgs/carousel-component-type-1-imgs/img5.jpg"
                    alt="purse"
                  />
                </div>
                <div class="carousel-description-container">
                  <span class="deals-show">Up to 78% off</span>
                  <span class="deal-of-the-day"
                    ><strong>Deal of the day</strong> <br
                  /></span>
                  <span class="carousel-category">Best Offers on Storite</span>
                </div>
              </div>
              <div class="carousel-card-container">
                <div class="carousel-img-container">
                  <img
                    src="../carousel-components-imgs/carousel-component-type-1-imgs/img6.jpg"
                    alt="purse"
                  />
                </div>
                <div class="carousel-description-container">
                  <span class="deals-show">Up to 78% off</span>
                  <span class="deal-of-the-day"
                    ><strong>Deal of the day</strong> <br
                  /></span>
                  <span class="carousel-category">Best Offers on Storite</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
